<!-- just css styles for now, looking for place to place scheduler.py in a div class -->
{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/images/wallpaper.png);
  width: 80%;
  
}


header {
  background-color: #ffd700;
  padding: 30px;
  font-size: 15px;
  color: ff0000;
  white-space: nowrap;
}

nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #390;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 16;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f5f2f5;
 }

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
