body {
  background: url(../images/wallpaper.png) #a0d6b4;
  box-sizing: border-box;
}

header {
  background-color: #003153;
  padding: 10px;
  white-space: nowrap;
  text-aligh: center;
}

.links a {
  display: inline-block;
  font-size: 12px;
  color: gold;
}  

.right {
  text-align: right;
  width: 35%;
}

.left {
  text-align: left;
  width: 35%;
}

profile {
  display: flex;
  background-color: #67074e;
  float: left;
  width: 65%;
  height: 300px; 
  padding: 20px;
  frame: 22px solid black;
}

section {
  display: flex;
  color: gold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;

.clout {
  max-height: 50%;
  max-width: 50%;
  text-align: center;
}

.clout1 {
  height: 88px;
  max-width:188;
  float: left;
}

.clout2 {
  height: 88px;
  max-width:188;
  float: left;
}
  
/* Style the list inside the menu */
article ul {
  list-style-type: none;
  padding: 16;
}

article {
  background-color: #dd9933;
  color: #003153;
  float: right;
  padding: 5px;
  width:35%;
  
 }

 /* Clear floats after the columns */
section::after {
  content: "Nat Geo";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #003153;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  div, article {
    width: 100%;
    height: auto;
  }
}
