body {
  background: url(../images/wallpaper.png) #a0d6b4;
  box-sizing: border-box;
}

header {
  background-color: #003153;
  padding: 10px;
  white-space: nowrap;
  text-aligh: center;
}

.links a {
  display: inline-block;
  font-size: 12px;
  color: gold;
}  

.right {
  text-align: right;
  width: 35%;
}

.left {
  text-align: left;
  width: 35%;
}

profile {
  color: #67074e;
  border: 15px solid black;
}

section {
  display: inline-block;
  color: gold;
}

nav {
  display: flex;
  background-color: #67074e;
  float: left;
  width: 69%;
  height: 300px; 
  padding: 20px;
  frame: 22px solid black;
}

/* Style the list inside the menu */
article ul {
  list-style-type: none;
  padding: 16;
  background-color: #0000ff;
}

article {
  color: #a0d6b4;
  float: right;
  padding: 20px;
  width: 29%;
  
 }

 /* Clear floats after the columns 
section::after {
  content: "";
  display: table;
  clear: both;
}
*/
/* Style the footer */
footer {
  background-color: #003153;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
